alabaster==0.7.12
alembic==0.9.3
arrow==0.15.8
Babel==2.8.0
backcall==0.2.0
bash-kernel==0.7.2
blinker==1.4
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
cryptography==3.2
cycler==0.10.0
decorator==4.4.2
docutils==0.16
dominate==2.3.1
ecdsa==0.15
entrypoints==0.3
esptool==2.8
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-HTTPAuth==4.1.0
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.0.4
Flask-Moment==0.5.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
github3.py==1.3.0
httpie==2.2.0
idna==2.10
imagesize==1.2.0
ipykernel==5.3.0
ipython @ file:///tmp/build/80754af9/ipython_1593447377063/work
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi @ file:///tmp/build/80754af9/jedi_1592841866100/work
Jinja2==2.11.2
jinja2-time==0.2.0
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594163838128/work
jupyter-core==4.6.3
jwcrypto==0.8
keyboard==0.13.5
kiwisolver==1.2.0
make==0.1.6.post1
Mako==1.0.7
MarkupSafe==1.1.1
matplotlib==3.3.1
metakernel==0.24.4
mysqlclient @ file:///tmp/build/80754af9/mysqlclient_1594308742726/work
numpy==1.19.1
octave-kernel==0.32.0
packaging==20.4
pandas==1.1.0
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pyaes==1.6.1
pycparser==2.20
Pygments==2.6.1
pyparsing==2.4.7
pyserial==3.4
python-dateutil==2.8.1
python-editor==1.0.3
pytz==2020.1
pyzmq==19.0.1
qtconsole==4.7.5
QtPy==1.9.0
requests==2.24.0
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.1.11
tornado==6.0.4
traitlets==4.3.3
uritemplate==3.0.1
urllib3==1.25.10
visitor==0.1.3
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
Werkzeug==1.0.1
WTForms==2.1
